VITE_SUPABASE_URL=https://lydqwukaryqghovxbcqg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx5ZHF3dWthcnlxZ2hvdnhiY3FnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTIwODkyODEsImV4cCI6MjA2NzY2NTI4MX0.n9t7zB1HtrfsN_5Gv2BKXs3W2_TGShzcGZXxFgDHYTs
VITE_RESEND_API_KEY=re_JPm8m1vU_GchkvBsobRtawyCvEGyTFqek
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx5ZHF3dWthcnlxZ2hvdnhiY3FnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MjA4OTI4MSwiZXhwIjoyMDY3NjY1MjgxfQ.CQiqU_StpnAgvYDdcgdsfk9hn9-AkCXyiDsWP13UTgA